Working with dataframes

In [75]:
import pandas as pd
data = pd.read_csv('lsd-math-score-data.csv')

In [76]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [77]:
type(data)

pandas.core.frame.DataFrame

get a specific column

In [78]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

add a new column named Test_subject
will set all columns to Zaphod

In [79]:
data['Test_subject'] = 'Zaphod'
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_subject
0                      5     1.17                78.93       Zaphod
1                     15     2.97                58.20       Zaphod
2                     30     3.26                67.47       Zaphod
3                     60     4.69                37.47       Zaphod
4                    120     5.83                45.65       Zaphod
5                    240     6.00                32.92       Zaphod
6                    480     6.41                29.97       Zaphod

edit values in a column

In [80]:
 # add a new column
data['high_score'] = 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_subject  \
0                      5     1.17                78.93       Zaphod
1                     15     2.97                58.20       Zaphod
2                     30     3.26                67.47       Zaphod
3                     60     4.69                37.47       Zaphod
4                    120     5.83                45.65       Zaphod
5                    240     6.00                32.92       Zaphod
6                    480     6.41                29.97       Zaphod

   high_score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [81]:
# edit the high score to be equal to the average score plus 100
data['high_score'] = data['high_score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_subject  \
0                      5     1.17                78.93       Zaphod
1                     15     2.97                58.20       Zaphod
2                     30     3.26                67.47       Zaphod
3                     60     4.69                37.47       Zaphod
4                    120     5.83                45.65       Zaphod
5                    240     6.00                32.92       Zaphod
6                    480     6.41                29.97       Zaphod

   high_score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [82]:
# sqaure the values in the high score column
data['high_score'] = data['high_score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_subject  \
0                      5     1.17                78.93       Zaphod
1                     15     2.97                58.20       Zaphod
2                     30     3.26                67.47       Zaphod
3                     60     4.69                37.47       Zaphod
4                    120     5.83                45.65       Zaphod
5                    240     6.00                32.92       Zaphod
6                    480     6.41                29.97       Zaphod

   high_score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [83]:
type(onlyMathScores)
# series are a lot like an array
# but only 1 column
# a dataframe is made up of more than 1 series

pandas.core.series.Series

In [84]:
# create a new dataframe with just average test scores and ppm
# named columnList
# long way
#columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
#cleanData = data[columnList]

# short way
# inner [] provides a list as input
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]

print(cleanData)

# print the type
type(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

pandas.core.frame.DataFrame

In [85]:
# set y to be a dataframe (not a list) of the average math scores
y = data[['Avg_Math_Test_Score']]
type(y)

pandas.core.frame.DataFrame

In [86]:
# set x to be equal to the ppm
x = data[['LSD_ppm']]
print(x)
type(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [87]:
# delete a column from a dataframe
del data['Test_subject']
del data['high_score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97